.heroBox {
  background-image: url(/src/assets/images/hero\ 1x.jpg);
  width: 100%;
  min-height: 100dvh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 783px;
  margin: auto;
}
.title {
  color: #fff;
}
.text {
  color: #fff;
}
.button {
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: #3470ff;
  color: #fff;
  padding: 12px 99px;
  min-width: 276px;
  height: 44px;
}
